In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<hr>

# Ujian_MachineLearning_JCDS05

link soal : https://github.com/LintangWisesa/Ujian_MachineLearning_JCDS05

<hr>

## Soal 1 :

In [2]:
dfFifa = pd.read_csv('data.csv')
dfFifa = dfFifa.drop(columns = 'Unnamed: 0')
dfFifa.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,https://cdn.sofifa.org/teams/2/light/241.png,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,https://cdn.sofifa.org/teams/2/light/45.png,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,https://cdn.sofifa.org/teams/2/light/73.png,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,https://cdn.sofifa.org/teams/2/light/11.png,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,https://cdn.sofifa.org/teams/2/light/10.png,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [3]:
def target(row):
    if row['Age'] <= 25 and row['Overall'] >= 80 and row['Potential']>=80 :
        return 'Target'
    else :
        return 'Non-Target'
dfFifa['hasil'] = dfFifa.apply(target, axis=1)
dfFifa['hasilangka'] = dfFifa['hasil'].apply(lambda x: 1 if x == 'Target' else 0)
dfFifa.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause,hasil,hasilangka
0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,https://cdn.sofifa.org/teams/2/light/241.png,...,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M,Non-Target,0
1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,https://cdn.sofifa.org/teams/2/light/45.png,...,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M,Non-Target,0
2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,https://cdn.sofifa.org/teams/2/light/73.png,...,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M,Non-Target,0
3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,https://cdn.sofifa.org/teams/2/light/11.png,...,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M,Non-Target,0
4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,https://cdn.sofifa.org/teams/2/light/10.png,...,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M,Non-Target,0

In [4]:
from sklearn.model_selection import train_test_split

xtr, xts, ytr, yts = train_test_split(dfFifa[['Age','Overall','Potential']],dfFifa['hasilangka'], test_size = 0.2)
dtrain = pd.concat([xtr,ytr], axis=1)
dtes = pd.concat([xts,yts], axis=1)

In [5]:
from sklearn.model_selection import KFold
k = KFold(n_splits = 10)

In [6]:
from sklearn.tree import DecisionTreeClassifier, plot_tree, export_graphviz
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

In [7]:
score1 = []
score2 = []
score3 = []

for train,validate in k.split(dtrain):
    xtrain = dtrain.iloc[train][['Age','Overall','Potential']]
    ytrain = dtrain.iloc[train]['hasilangka']
    xvalid = dtrain.iloc[validate][['Age','Overall','Potential']]
    yvalid = dtrain.iloc[validate]['hasilangka']
    
    # model1
    model1 = LogisticRegression()
    model1.fit(xtrain,ytrain)
    score1.append(model1.score(xvalid,yvalid))
    
    # model2
    model2 = DecisionTreeClassifier(criterion='gini')
    model2.fit(xtrain,ytrain)
    score2.append(model2.score(xvalid,yvalid))
    
    # model3
    model3 = LinearRegression()
    model3.fit(xtrain,ytrain)
    score3.append(model3.score(xvalid,yvalid))

In [8]:
print(f'Score Model Logistic Regression = {np.mean(score1)} ')
print(f'Score Model Decision Tree = {np.mean(score2)} ')
print(f'Score Model Linear Regression= {np.mean(score3)} ')

Score Model Logistic Regression = 0.9934773959739644
Score Model Decision Tree = 1.0
Score Model Linear Regression= 0.05710529289962983

In [9]:
dfPrediksi = pd.DataFrame([
    {'Name' :'Andik Vermansyah', 'Age' : 27, 'Overall': 87,'Potential' : 90},
    {'Name' :'Awan Setho Raharjo', 'Age' : 22, 'Overall': 75,'Potential' : 83},
    {'Name' :'Bambang Pamungkas', 'Age' : 38, 'Overall': 85,'Potential' : 75},
    {'Name' :'Cristian Gonzales', 'Age' : 43, 'Overall': 90,'Potential' : 85},
    {'Name' :'Egy Maulana Vikr[]', 'Age' : 18, 'Overall': 88,'Potential' : 90},
    {'Name' :'Evan Dimas', 'Age' : 24, 'Overall': 85,'Potential' : 87},
    {'Name' :'Febri Hariyadi', 'Age' : 23, 'Overall': 77,'Potential' : 80},
    {'Name' :'Hansamu Yama Pranata', 'Age' : 24, 'Overall': 82,'Potential' : 85},
    {'Name' :'Septian David Maulana', 'Age' : 22, 'Overall': 83,'Potential' : 80},
    {'Name' :'Stefano Lilipaly', 'Age' : 29, 'Overall': 88,'Potential' : 86}
])
dfPrediksi

                    Name  Age  Overall  Potential
0       Andik Vermansyah   27       87         90
1     Awan Setho Raharjo   22       75         83
2      Bambang Pamungkas   38       85         75
3      Cristian Gonzales   43       90         85
4     Egy Maulana Vikr[]   18       88         90
5             Evan Dimas   24       85         87
6         Febri Hariyadi   23       77         80
7   Hansamu Yama Pranata   24       82         85
8  Septian David Maulana   22       83         80
9       Stefano Lilipaly   29       88         86

In [10]:
dfPrediksi['PredAngka']= model2.predict(dfPrediksi[['Age','Overall','Potential']])

In [11]:
dfPrediksi['Pred'] = dfPrediksi['PredAngka'].apply(lambda x: 'Target' if x == 1 else 'Non-Target')

In [12]:
dfPrediksi

                    Name  Age  Overall  Potential  PredAngka        Pred
0       Andik Vermansyah   27       87         90          0  Non-Target
1     Awan Setho Raharjo   22       75         83          0  Non-Target
2      Bambang Pamungkas   38       85         75          0  Non-Target
3      Cristian Gonzales   43       90         85          0  Non-Target
4     Egy Maulana Vikr[]   18       88         90          1      Target
5             Evan Dimas   24       85         87          1      Target
6         Febri Hariyadi   23       77         80          0  Non-Target
7   Hansamu Yama Pranata   24       82         85          1      Target
8  Septian David Maulana   22       83         80          1      Target
9       Stefano Lilipaly   29       88         86          0  Non-Target

<hr>

## Soal 2 :

In [14]:
from bs4 import BeautifulSoup
import requests

url = 'http://digidb.io/digimon-list/'
html = requests.get(url)
soup = BeautifulSoup(html.content, 'html.parser')
findtable =str(soup.find('table',id='digiList'))
soup = BeautifulSoup(findtable,'html.parser' )

findno = soup.find_all('td',width='5%')

datano = []
for i in findno :
    datano.append(i.text.replace('\xa0', ''))
# print(datano)

dataimg =[]
for img in soup.find_all('img'):
    dataimg.append(img.get('src'))
# print(dataimg)

findname = soup.find_all('td',width='21%')
dataname = []
for i in findname :
    dataname.append(i.text.replace('\xa0 ', ''))
# print(dataname)

findstage = soup.find_all('td',width='9%')
datastage = []
for i in findstage :
    datastage.append(i.text.replace('\xa0 ', ''))
# print(datastage)

findtam = soup.find_all('td',width='7%')
datatype = []
datamemory = []
dataattribute = []
temp = []
for i in range(len(findtam)) :
    if (i+1) % 3 == 0 :
        datamemory.append(findtam[i].text.replace('\xa0 ', ''))
    else :
        temp.append(findtam[i].text.replace('\xa0 ', ''))
    
# print(datamemory)

for i in range(len(temp)) :
    if (i+1) % 2 == 0 :
        dataattribute.append(temp[i])
    else :
        datatype.append(temp[i])

# print(dataattribute)
# print(datatype)

findeqslot = soup.find_all('td',width='8%')
dataeqslot = []
for i in findeqslot :
    dataeqslot.append(i.text.replace('\xa0', ''))
# print(dataeqslot)

indexhp = [8]
datahp = []
hp = 8
indexsp = [9]
datasp = []
sp = 9
indexatk = [10]
dataatk = []
atk = 10
indexdef = [11]
datadef = []
def_ = 11
indexint = [12]
dataint = []
int_ = 12
indexspd = [13]
dataspd = []
spd = 13

findstat = soup.find_all('td')

for i in findstat :
    hp += 13
    sp += 13
    atk += 13
    int_ += 13
    def_ += 13
    spd += 13
    indexhp.append(hp)
    indexsp.append(sp)
    indexatk.append(atk)
    indexdef.append(def_)
    indexint.append(int_)
    indexspd.append(spd)

for i in range(len(findstat)) :
    if i+1 in indexhp :
        datahp.append(findstat[i].text)
    elif i+1 in indexsp :
        datasp.append(findstat[i].text)
    elif i+1 in indexatk :
        dataatk.append(findstat[i].text)
    elif i+1 in indexdef :
        datadef.append(findstat[i].text)
    elif i+1 in indexint :
        dataint.append(findstat[i].text)
    elif i+1 in indexspd :
        dataspd.append(findstat[i].text)

findheader=soup.find_all('th')
dataheader = []
for i in findheader :
    dataheader.append(i.text)

# print(dataheader)
data = []
for i in range(len(dataimg)) :
    data.append({
        dataheader[0] : datano[i] ,
        dataheader[1] : dataname[i] ,
        dataheader[2] : datastage[i] ,
        dataheader[3] : datatype[i] ,
        dataheader[4] : dataattribute[i] ,
        dataheader[5] : datamemory[i] ,
        dataheader[6] : dataeqslot[i] ,
        dataheader[7] : datahp[i] ,
        dataheader[8] : datasp[i] ,
        dataheader[9] : dataatk[i] ,
        dataheader[10] : datadef[i] ,
        dataheader[11] : dataint[i] ,
        dataheader[12] : dataspd[i] ,
        'img' : dataimg[i] ,
    })

import json
with open ('digimon.json','w') as myjson :
    json.dump(data, myjson)

<hr>

## Soal 3 :

Notebook hanya digunakan untuk __model sistem rekomendasi__ jawaban aplikasi dapat dilihat pada __JCDS05.py__

In [16]:
dfdigimon = pd.read_json('digimon.json')

In [17]:
dfdigimon

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd,img
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95,http://digidb.io/images/dot/dot629.png
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68,http://digidb.io/images/dot/dot387.png
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75,http://digidb.io/images/dot/dot437.png
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61,http://digidb.io/images/dot/dot317.png
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86,http://digidb.io/images/dot/dot320.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,337,Alphamon NX,Mega,Vaccine,Neutral,6,1,980,104,109,114,109,116,http://digidb.io/images/dot/dot901.png
337,338,Crusadermon NX,Mega,Virus,Dark,6,1,1030,100,118,99,109,121,http://digidb.io/images/dot/dot902.png
338,339,Leopardmon NX,Mega,Data,Light,6,1,960,109,112,91,116,126,http://digidb.io/images/dot/dot903.png
339,340,Omnimon NX,Mega,Vaccine,Light,6,1,1010,98,116,111,111,113,http://digidb.io/images/dot/dot904.png
340,341,Gallantmon NX,Mega,Virus,Light,6,1,1070,93,122,109,111,108,http://digidb.io/images/dot/dot905.png

In [18]:
dfdigimon['feature']= dfdigimon.apply(lambda x : str(x['Stage']) + ' ' + str(x['Type']) + ' ' + str(x['Attribute']),axis=1)

dfdigimon['feature'][0]

'Baby Free Neutral'

In [19]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [20]:
cv = CountVectorizer()
cm = cv.fit_transform(dfdigimon['feature'])
cosScore = cosine_similarity(cm.toarray())

In [21]:
import joblib
joblib.dump(cosScore, 'sistemrekomendasi')

['sistemrekomendasi']

In [32]:
namadigi = []
for i in range(len(dfdigimon['Digimon'])):
    namadigi.append(dfdigimon['Digimon'][i])

In [37]:
digi = 'Kuramon'
listdigimon = list(dfdigimon['Digimon'])
if digi in listdigimon :
    print(digi)

Kuramon

In [39]:
indexdigi = dfdigimon[dfdigimon['Digimon']==digi].index.values[0]

In [51]:
SR = joblib.load('sistemrekomendasi')
similardigimon = list(enumerate(SR[indexdigi]))
similardigimon = sorted(similardigimon, key=lambda x: x[1], reverse=True) 
# similardigimon
j = 0
dfDR = pd.DataFrame()
for i in similardigimon:
    if j < 6 and i[0] != indexdigi :
        dfDR = dfDR.append(dfdigimon[['Digimon','Stage','Type','Attribute','img']].iloc[i[0]], ignore_index=True)
        j += 1
    elif j >= 6 :
        break
    else :
        pass

In [52]:
dfDR

  Attribute   Digimon     Stage  Type                                     img
0   Neutral   Pabumon      Baby  Free  http://digidb.io/images/dot/dot387.png
1   Neutral   Punimon      Baby  Free  http://digidb.io/images/dot/dot437.png
2   Neutral   Botamon      Baby  Free  http://digidb.io/images/dot/dot317.png
3   Neutral   Poyomon      Baby  Free  http://digidb.io/images/dot/dot320.png
4   Neutral    Veemon    Rookie  Free  http://digidb.io/images/dot/dot114.png
5   Neutral  ExVeemon  Champion  Free  http://digidb.io/images/dot/dot365.png

In [54]:
dfDR['Digimon'].values[1]

'Punimon'

In [57]:
dfdigimon[dfdigimon['Digimon']=='Wargreymon']

Empty DataFrame
Columns: [#, Digimon, Stage, Type, Attribute, Memory, Equip Slots, HP, SP, Atk, Def, Int, Spd, img, feature]
Index: []

In [ ]:
dfdigimon